.container {
    width: 100%;
    height: calc(100% + 110px);

}

.form-wrapper {
    margin: 55px auto;
    width: 500px;
    height: auto;
    background-color: #F8F9FA;
    padding: 15px 20px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-input {
    width: 100%;
}
