.content {
    margin-top: 35px;
    padding: 10px;
    min-height: 650px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1em;
    padding: 0px 150px;
}

.card {
    height: 400px;
    width: 300px;
    background-color: #fefefe;
    text-align: center;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card-top-content {
    height: 33%;
    background-color: #9E70EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-container {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    outline: 1px solid #151618;
    background-color: white;
    border-radius: 50%;
}

.circle-container.user-icon img {
    width: 170px;
    height: 170px;
    margin-top: 38px;
    object-fit: cover; 
    border-radius: 50%; 
}

.circle-container.edit-icon img {
    width: 140px;
    height: 140px;
    margin-top: 30px;
    object-fit: cover; 
    
}

.circle-container.permission-icon img {
    width: 60px;
    height: 60px;
    margin-top: 22px;
    margin-left: 5px;
    object-fit: cover;
    
}

.circle-container.wallet-icon img {
    width: 60px;
    height: 60px;
    margin-top: 22px;
    margin-left: 1px;
    object-fit: cover;
}

.card-top-content img {
    width: 67%;
    height: 50%;
}

.btn-form {
    margin-top: 20px;
    width: 80%;
    height: 30px;
    color: white;
    background-color: #9E70EB;
    border-radius: 5px;
    border: none;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-form:hover {
    background-color: #8D60DA;
}


.plus:hover {
    fill: #63E6BE;
    transition: fill 0.3s ease;
}

.card-bottom-content {
    width: 100%;
    height: 66%;
    background-color: #fff;
    padding: 120px 5px;
}


.card-bottom-content p {
    margin: 0 auto;
    width: 100%;
}