<div class="content">
    <div class="card-holder">
        <div class="card">
            <div class="circle-container user-icon">
                <img src="../../../assets/user.png">
            </div>
            <div class="card-top-content">
            </div>
            <div class="card-bottom-content">
                <div>
                    <p>Przejdź do panelu aby dodać, edytować bądź zablokować konta użytkowników</p>
                    <button type="button" class="btn-form" (click)="navigateToUser()">Panel uzytkowników </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle-container edit-icon">
                <img src="../../../assets/edit.png">
            </div>
            <div class="card-top-content">
            </div>
            <div class="card-bottom-content">
                <div>
                    <p>Przejdź do panelu aby odpowiedzieć na nowe wnioski lub przejrzeć wcześniejsze</p>
                    <button type="button" class="btn-form" >Panel wniosków</button>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div class="circle-container permission-icon">
                <img src="../../../assets/permission.png">
            </div>
            <div class="card-top-content">
            </div>
            <div class="card-bottom-content">
                <div>
                    <p>Wypełnij formularz żeby dodać wynik spotkania. Po jego uzupełnieniu każdy otrzyma maila z rezultatem jego zakładu !</p>
                    <button type="button" class="btn-form">Uzupełnij wyniki meczów</button>
                </div>
            </div>
        </div> -->
    </div>
</div>
