
.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}

.table-container {
    width: 100%;
}

.filter-container {
    width: 80%;
}

.btn {
    width: 40%;
    color: white;
    transition: all .3s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.edit:hover{
    background-color: #6FCC67;
}

.block:hover {
    background-color: #CACCD0;
}

.edit {
    background-color: #5FBB46;
}

.block {
    background-color: #DBDDE0;
}


.top-container {
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.add-user-container {
    width: 20%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: top;
}

.add-user {
    width: 100%;
    height: 75%;
    border-radius: 5px;
    background-color: #0c723b;
    font-size: 15px;
    border: none;
    color: white;
    transition: all .3s ease-in-out;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-user:hover {
    background-color: #1d834c;;
}