.container {
    width: 30%;
    margin: 50px auto;
    padding: 40px 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btn-form {
    width: 250px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #0c723b;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-form:hover {
    background-color: #1D834C;
    cursor: pointer;
}

.option {
    width: 250px;
}

