.container {
    margin: 60px auto;
    width: 80%;
}

.add-new-application-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applications-container {

}

.new-application {
    width: 50%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #0096FF;
    transition: all .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-application:hover {
    background-color: #0086EE;
}
