
  <header class="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo container">
      <img class="logo-img" src="../../../../../assets/ikona.ico">
        <div>
          <div class="title">Centrum Finansowe S.A.</div> 
          <div class="subtitle">LeavePlanner</div>
        </div>
    </div>
  
    <nav class="navbar container">
        <li>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Urlopy</a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Wnioski</a>
        </li>
        <li>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Kalendarz</a>
        </li>
        <ng-container *ngIf='user$ | async as user; else notUser'>
          <li class="nav-item" *ngIf='isAdmin(user.role)'>
            <a class="nav-link" routerLink='admin'>Administracja</a>
          </li>
          <li class='nav-item'>
            <button (click)='logout()'>Wyloguj się</button>
          </li>
        </ng-container>
        <ng-template #notUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="logowanie" routerLinkActive="active">Logowanie</a>
          </li>
        </ng-template>
    </nav>
  </header>


